/*
 * Annotare custom stylesheet
 */

.logo-title {
    display: inline-block
}

.ie8 .logo-title {
    display: inline;
}

#global-footer ul {
    padding: 0 0 0 6px;
}

#global-footer ul li a, #ebi-footer-meta p a {
    padding: 2px 3px;
}

#ebi-footer-meta p a {
    margin-left: -3px;
    margin-right: -3px;
}