.gwt-SplitLayoutPanel-HDragger {
    background: #e7e7e7 url(images/thumb_vertical.png) center center no-repeat;
    cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
    background: #e7e7e7 url(images/thumb_horz.png) center center no-repeat;
    cursor: row-resize;
}

.gwt-TextBox {
    padding: 4px 3px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    font-size: small;
    font-family: Arial Unicode MS, Arial, sans-serif;
}

.gwt-DisclosurePanel {
    border-bottom: 1px solid #E8EEF7;
}

.gwt-DisclosurePanel .header {
}

.gwt-DisclosurePanel .content {
    border: none;
}

.gwt-DisclosurePanel-open .content {
}

.gwt-DisclosurePanel-closed .header {
}

.my-TextBoxWithPlaceHolder .gwt-Label {
    margin: 3px;
    padding: 4px 3px;
    border: 1px solid transparent;
    font-style: italic;
    font-size: small;
    font-family: Arial Unicode MS, Arial, sans-serif;
}

.my-TextBoxWithPlaceHolder .gwt-Label.empty {
    color: #888;
}

.my-TextBoxWithPlaceHolder .gwt-Label:hover {
    border: 1px solid #ccc;
}

.my-ContactView {
    background-color: #efefef;
}

.my-ContactView .my-content td {
    padding-left: 15px;
}

.dnd-container {
    border-top: 2px dotted white;
}

.dnd-over {
    border-top: 2px dotted blue;
}

.dnd-opacity {
    opacity: 0.4;
    -webkit-appearance: none;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.my-AppNavBar {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.my-AppNavBarItem {
    padding: 5px 10px;
    background-color: gray;
    border-right: 1px solid gray;
    cursor: pointer;
    color: white;
}

.my-AppNavBarItem.selected {
    background-color: white;
    border-right: 1px solid white;
    color: black;
    font-weight: bold;
}

.my-AppNavBarItem.selected.hovered {
    background-color: white;
    color: black;
}

.my-AppNavBarItem.hovered {
    background-color: #eeeeee;
    color: #333;
}

.my-MenuItem {
    font-family: Arial Unicode MS, Arial, sans-serif;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    color: black;
    cursor: pointer;
    font-size: 1.2em;
}

.my-MenuItem:hover {
    background-color: #eee;
    color: black;
}

.my-MenuItem.selected {
    background-color: brown;
    color: white;
}
