.gwt-SplitLayoutPanel-HDragger {
    background: #e7e7e7 url(images/thumb_vertical.png) center center no-repeat;
    cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
    background: #e7e7e7 url(images/thumb_horz.png) center center no-repeat;
    cursor: row-resize;
}

.gwt-TextBox {
    padding: 4px 3px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    font-size: small;
    font-family: Arial Unicode MS, Arial, sans-serif;
}

.gwt-DisclosurePanel {
    border-bottom: 1px solid #E8EEF7;
}

.gwt-DisclosurePanel .header {
}

.gwt-DisclosurePanel .content {
    border: none;
}

.gwt-DisclosurePanel-open .content {
}

.gwt-DisclosurePanel-closed .header {
}

.my-TextBoxWithPlaceHolder .gwt-Label {
    margin: 3px;
    padding: 4px 3px;
    border: 1px solid transparent;
    font-style: italic;
    font-size: small;
    font-family: Arial Unicode MS, Arial, sans-serif;
}

.my-TextBoxWithPlaceHolder .gwt-Label.empty {
    color: #888;
}

.my-TextBoxWithPlaceHolder .gwt-Label:hover {
    border: 1px solid #ccc;
}

.my-ContactView {
    background-color: #efefef;
}

.my-ContactView .my-content td {
    padding-left: 15px;
}

.dnd-container {
    border-top: 2px dotted white;
}

.dnd-over {
    border-top: 2px dotted blue;
}

.dnd-opacity {
    opacity: 0.4;
    -webkit-appearance: none;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}