.gwt-SuggestionPopup {
    padding: 0;
    overflow: hidden;
    z-index: 99999;
    color: black;
    background-color: white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.gwt-SuggestionPopup > div {
    padding: 1px;
}

.gwt-SuggestionPopup ul {
    overflow: auto;
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gwt-SuggestionPopup li {
    margin: 0;
    padding: 2px 6px;
    color: #000;
    cursor: default;
    font-size: small;
}

.gwt-SuggestionPopup li.selected,
.gwt-SuggestionPopup li.selected a {
    background-color: #5E8CC0;
    color: white;
}
