notice.name=Notice_11182022_1_Shownnotice.expiryDate=8000000000000notice.stopNoticeDate=1668801016000notice.title=Test(hooray!) Test noticenotice.html=<p>Dear submitter,</p><p>The curation team will be on holiday from 21st December 2020 until 6th January 2021.</p><p>Please submit early! Happy holidays!</p><p>Best Regards,<br>Annotare Team</p>