/* CustomDataGrid stylesheet */

.dataGridWidget {
}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
    border-top: 1px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    font-size: small;
    border-bottom: 1px solid #6f7277;
    padding: 3px 3px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    background-color: lightgray;
}

.dataGridCell {
    padding: 2px 2px;
    overflow: hidden;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
    cursor: pointer;
    cursor: hand;
}

.dataGridSortableHeader:hover {
    color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
}

.dataGridEvenRowCell {
    border: 2px solid transparent;
}

.dataGridOddRow {
}

.dataGridOddRowCell {
    border: 2px solid transparent;
}

.dataGridHoveredRow {
}

.dataGridHoveredRowCell {
}

.dataGridKeyboardSelectedRow {
    /*background: #ffc;*/
}

.dataGridKeyboardSelectedRowCell {
    /*border: 1px solid darkblue;*/
}

.dataGridSelectedRow {
    background: #628cd5;
    color: white;
    height: auto;
    overflow: auto;
}

.dataGridSelectedRowCell {
    /*border: 1px solid darkblue;*/
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
    border: 2px solid darkblue;
}

.dataGridKeyboardSelectedInactiveCell {
    border: 2px solid darkgray;
}
