/* CustomDataGrid stylesheet */

.dataGridWidget {

}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
    border-top: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}

.dataGridHeader {
    padding: 3px 3px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #bbbbbb;
    border-bottom: 1px solid #6f7277;
    border-top: 1px solid #eeeeee;
}

.dataGridCell {
    padding: 2px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
    cursor: pointer;
    cursor: hand;
}

.dataGridSortableHeader:hover {
    color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
    background: #ffffff;
}

.dataGridEvenRowCell {
    border: 2px solid #ffffff;
}

.dataGridOddRow {
    background: #f3f7fb;
}

.dataGridOddRowCell {
    border: 2px solid #f3f7fb;
}

.dataGridHoveredRow {
}

.dataGridHoveredRowCell {
}

.dataGridKeyboardSelectedRow {
}

.dataGridKeyboardSelectedRowCell {
}

.dataGridSelectedRow {
}

.dataGridSelectedRowCell {
}

.dataGridKeyboardSelectedCell {
    border: 2px solid #41659b;
}

.dataGridKeyboardSelectedInactiveCell {
    border: 2px solid lightgray;
}

