/*
 * Annotare custom stylesheet
 */

.logo-title {
    display: inline-block
}

#global-footer ul {
    padding: 0 0 0 5px;
}

#global-footer ul li a, #ebi-footer-meta p a {
    padding: 2px 4px;
}

#ebi-footer-meta p a {
    margin-left: -4px;
    margin-right:-4px;
}