/*
 * Annotare custom stylesheet
 */

.logo-title {
    display: inline-block
}

#content .form {
    margin-top: 31px
}

#content .form h2 {
    font-size: 22pt;
}

#login-box {
    padding: 15px;
    border: 1px solid #d7d7d7;
    background-color: #f6f6f6;
}

#twitter-box {
    border: 1px solid #d7d7d7;
    margin-top: 12px;
    background-color: #f6f6f6;
}


#content label {
    display: inline-block;
    margin-top: 0.2em;
}

#content input[type='text'],
#content input[type='password'] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box
}

#content input[type='submit'] {
    display: inline-block
}

#content .error {
    color: red
}

#content .btn-row {
    display: table;
    width: 100%
}

#content .btn-row > div {
    display: table-cell;
    width: 50%
}

#content .last-row {
    margin-top: 0.2em;
    width: 100%
}

#content .right {
    text-align: right
}

#annotare-help table {
    border-collapse: collapse
}

#annotare-help th {
    background-color: #ddd;
}

#annotare-help table,
#annotare-help th,
#annotare-help td {
    border: 1px solid black
}

#annotare-help img {
    width: 80%;
    border: 2px solid #385930;
}

#secondary-nav li.active a {
    font-weight: bold !important
}

#global-footer ul {
    padding: 0 0 0 6px
}

#global-footer ul li a, #ebi-footer-meta p a {
    padding: 2px 3px
}

#ebi-footer-meta p a {
    margin-left: -3px;
    margin-right: -3px
}

#further_info div {
    background-color: rgb(243, 247, 251);
    padding-top: 1%;
    padding-right: 1%;
    border-right: 5px solid white;
    margin-bottom: 0.5%;
}

#homepage-left-section h3,
#homepage-left-section h4,
#homepage-left-section h5 {
    color: #BF8F30;
    font-weight: lighter;
}

section#main-content-area {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

input.button.secondary,
input.button.secondary:hover{
    background-color: #6C8CD5;
}
