/*
 * Annotare custom stylesheet
 */

.logo-title {
    display: inline-block
}

#content .form {
    margin-top: 31px
}

#content .form h2 {
    font-size: 24pt;
}


#content label {
    display: inline-block;
    margin-top: 0.2em;
}

#content input[type='text'],
#content input[type='password'] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box
}

#content input[type='submit'] {
    display: inline-block
}

#content .error {
    color: red
}

#content .btn-row {
    display: table;
    width: 100%
}

#content .btn-row > div {
    display: table-cell;
    width: 50%
}

#content .last-row {
    margin-top: 0.2em;
    width: 100%
}

#content .right {
    text-align: right
}

#annotare-help table {
    border-collapse: collapse
}

#annotare-help th {
    background-color: #ddd;
}

#annotare-help table,
#annotare-help th,
#annotare-help td {
    border: 1px solid black
}

#secondary-nav li.active a {
    font-weight: bold !important
}

#global-footer ul {
    padding: 0 0 0 6px
}

#global-footer ul li a, #ebi-footer-meta p a {
    padding: 2px 3px
}

#ebi-footer-meta p a {
    margin-left: -3px;
    margin-right: -3px
}

