input {
    font-family: Arial, Sans-Serif;
    font-size: small;
    margin-bottom: 5px;
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0 none;
    width: 100%;
}

input:focus {
    outline: 0 none;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:rgba(0,0,0,0.3);
}
