<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2009-2012 European Molecular Biology Laboratory
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or impl
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="server-log" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/annotare.log" />
        <param name="MaxFileSize" value="100KB" />
        <param name="MaxBackupIndex" value="3" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
        </layout>
    </appender>

    <category name="uk.ac.ebi.fg.annotare2.web.server" additivity="false">
        <priority value="INFO" />
        <appender-ref ref="${webapp.log.appender.ref}" />
    </category>

    <root>
        <level value ="INFO"/>
        <appender-ref ref="${webapp.log.appender.ref}"/>
    </root>

</log4j:configuration>
